
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#tracking-form .input-group {
  padding: 10px 10px 10px 24px;
  background: #fff;
  border-radius: 3px;
}

#tracking-form input {
  font-size: 2em;
  font-weight: 200;
  padding-left: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
}
